page-article {
    ion-title{
        width:80%;
        margin:auto;
    }
    ion-content{
        font-size:19px;
        text-align:justify;
        margin-top:50px;
        .scroll-content{
            overflow:hidden;
        }
        .title-section{
            float:left;
            width:100%;
            margin:15px 0px;
            .slug{
                text-align:right;
                font-size:10px;
                color:#aaa;
            }
            h1{
                width:100%;
            }
        }
        .left-ads{
            float:left;
            @media screen and (min-width:980px){
                width:10%;
            }
            @media screen and (min-width:860px) and (max-width:981px){
                width:20%;
            }
            @media screen and (max-width:860px){
                display:none;
            }
        }
        .right-ads{
            float:right;
            @media screen and (min-width:980px){
                width:10%;
            }
            @media screen and (max-width:981px){
                display:none;
            }
        }
        .main{
            float:left;
            height:100%;
            img{
                width:100%;
            }
            @media screen and (min-width:860px){
                width:80%;
                overflow-y:auto;
                padding:0px 100px;
            }
            @media screen and (max-width:860px){
                width:100%
            }
        }
        
    }
    .menuIcon{
        @media screen and (min-width:861px){
            display:none!important;
        }
    }
}
