<!-- Generated template for the NewsSliderComponent component -->
<div class=slider>
  <div class=big>
    <img src="https://thesportsrumour.com{{newsSlides[0].thumbnail}}">
    <div class=text>
    <div class=title>{{newsSlides[0].title}}</div>
    <span class=slug><a href=mailto:{{newsSlides[0].email}}>{{newsSlides[0].name}}</a> ({{newsSlides[0].ago}})</span>
    </div>
  </div>
  <div class=small>
    <img src="https://thesportsrumour.com{{newsSlides[1].thumbnail}}">
    <div class=text>
    <div class=title>{{newsSlides[1].title}}</div>
    <span class=slug><a href=mailto:{{newsSlides[1].email}}>{{newsSlides[1].name}}</a> ({{newsSlides[1].ago}})</span>
    </div>
  </div>
  <div class=small>
    <img src="https://thesportsrumour.com{{newsSlides[2].thumbnail}}">
    <div class=text>
    <div class=title>{{newsSlides[2].title}}</div>
    <span class=slug><a href=mailto:{{newsSlides[2].email}}>{{newsSlides[2].name}}</a> ({{newsSlides[2].ago}})</span>
    </div>
  </div>
</div>
